@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#new-arrivals {
    padding-top: 30px;
    padding-left: 120px;
    padding-bottom: 60px;
    background: white !important;
}

#new-arrivals div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#new-arrivals .title {
    margin-bottom: 53px;
    font-size: 26px !important;
    text-transform: uppercase !important;
    font-weight: 900;
    text-align: left;
    font-family: "Poppins", sans-serif;
}

#new-arrivals .category-card {
    flex-grow: 1;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}

#new-arrivals .category-card img {
    width: 250px;
    height: 375px;
    border-radius: 13px;
}

#new-arrivals .category-card .title {
    font-size: 18px !important;
    font-weight: 600;
    text-align: left;
    text-transform: none !important;
    margin-top: 25px !important;
    margin-bottom: 0px !important;
    font-family: "Poppins", sans-serif;
}

#new-arrivals .category-card .explore-now {
    color: #7F7F7F ;
    font-size: 13px !important;
    font-weight: 600;
    text-align: left;
    font-family: "Poppins", sans-serif;
}